<form class="new-skill-form">


    <div>
        <label for="title">Title:</label>
        <input type="text" class="skill-title" id="title" name="title" required>
    </div>

    <div>
        <label for="description">Description:</label>
        <textarea id="description" class="skill-description" name="description" required></textarea>
    </div>

    <div>
        <label for="price">Price:</label>
        <textarea id="price" class="skill-price" name="price" required></textarea>
    </div>
    
    <div>
        <label for="image_url">Image URL:</label>
        <input type="text" id="image_url" class="skill-image_url" name="image_url">
    </div>

    <div>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" class="skill-start_date" name="start_date" required>
    </div>

    <div>
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" class="skill-end_date" name="end_date" required>
    </div>

    <div>
        <label for="difficulty_rating">Difficulty Rating:</label>
        <select id="difficulty_rating" class="difficulty_rating" name="difficulty_rating" required>
            <option value="easy">Easy</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
        </select>
    </div>

    <div>
        <label for="color">Color:</label>
        <input type="color" id="color" class="background_color" name="color" required>
    </div>

    <div>
        <input type="submit" value="Submit">
    </div>
</form>

{{#if isAdmin}}
<script src="/js/updateSkill.js"></script>
{{/if}}